<%= form_with model: chemical do |f| %>
  <div>
    <%= f.text_field :chemical_name, :placeholder => "Chemical name" %>
    <% chemical.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.text_field :synonym, :placeholder => "Synonym" %><br>
    <% chemical.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit "Add to base", class: "btn-submit" %>
  </div>
<% end %>

<br>
<br>

<div>
  <%= link_to "Main", '/', class: "btn-submit" %> 
</div>
